
<div class="text-center mt-4">
    <h2>Top destinations</h2>
</div>

<div class="text-center mt-4" *ngIf="destinations.length<1">
    <h1>Destinations with your criteria dont exist</h1>

</div>

<div class="row mt-4">
        <div class="btn-group ml-3">
            <button
            type="button"
            class="btn btn-primary"
            [disabled]=true
            >
                Order by:
            </button>
            <div class="dropdown"  dropdown>
                <button type="button" class="btn btn-primary" dropdownToggle>Date added</button>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                  <a  type="button" class="dropdown-item" 
                    (click)="loadDestinationsParam('dateNewer')" >Newer
                  </a>
                  <div class="dropdown-divider"></div>
                  <a  type="button" class="dropdown-item" 
                  (click)="loadDestinationsParam('dateOlder')" >Older
                </a>
                </div>
            </div>
            <div class="dropdown"  dropdown>
                <button type="button" class="btn btn-primary" dropdownToggle>Price</button>
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a  type="button" class="dropdown-item" 
                    (click)="loadDestinationsParam('priceLower')" >Lower
                  </a>
                  <div class="dropdown-divider"></div>
                  <a  type="button" class="dropdown-item" 
                  (click)="loadDestinationsParam('priceHigher')" >Higher
                </a>
                </div>
            </div>
            <button type="button" 
                class="btn btn-success ml-5"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"
                >
                Filtering
            </button>
            <hr>
        </div>

</div>
<div id="collapseBasic" [collapse]="isCollapsed">
    <div class="well well-lg card card-block card-header mt-3 ">
        <form [formGroup]='filterForm' class="form-inline mb-3" (ngSubmit)="loadDestinations()" autocomplete="off">
            <div class="form-group">
                <label>Price from: </label>
                <input type="text" class="form-control ml-2" style="width: 70px;"
                formControlName='minPrice'
                >
            </div>
            <div class="form-group px-2">
                <label>Price to: </label>
                <input type="text" class="form-control ml-2" style="width: 70px;"
                formControlName='maxPrice'
                >
            </div>
            <div class="form-group px-2" aria-label="All">
                <label>Category: </label>
                <select name="Type" 
                    aria-placeholder="Default select example"
                    style="width:130px;"
                    class="form-control ml-2"
                    formControlName='type'
                    >
                    <option *ngFor="let type of typeList" [value]="type.value">
                        {{type.value}}
                    </option>
                </select>
            </div>
            
    
            <button class="btn btn-primary ml-1" type="submit">Apply filter</button>
            <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset filter</button>
            
            
    
        </form>
    </div>
</div>


<div class="card-deck">
    <div *ngFor="let destination of destinations">
        <app-destionation-card [destination]="destination"></app-destionation-card>
    </div>
</div>



<div class="d-flex justify-content-center mt-4" *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">

    </pagination>
</div>
