
  <div class="card mb-4 mt-4" >
 
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{{destination.photoUrl || './assets/hotel-default-img.jpg'}}" class="card-img" >
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">Hotel {{destination.hotel}} {{destination.city}} <span class="text-danger"> from {{destination.minPrice}} €</span> </h5>
          <p *ngIf="destination.likesCount>1 || destination.likesCount<1" class="card-text">{{destination.likesCount}} users have liked this</p>
          <p *ngIf="destination.likesCount==1" class="card-text">{{destination.likesCount}} user have liked this</p>
          <button class="btn btn-danger" *ngIf="isLiked==false" (click)="userLike(destination)">
            <i class="far fa-heart"></i>
          </button>
          <button class="btn btn-danger" *ngIf="isLiked==true" (click)="userLike(destination)">
            <i class="fas fa-heart"></i>
          </button>
          <button class="btn btn-primary ml-3" routerLink='/destinations/{{destination.hotel}}'>
            Book now
          </button>

        </div>
      </div>
    </div>
 
  </div>
