<div class="text-center mt-4">
    <h1>Edit user roles</h1>
</div>
<table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Current roles</th>
        <th scope="col">Edit roles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.roles}}</td>
        <td><button (click)="openRolesModal(user)" class="btn btn-success">Edit roles</button></td>
      </tr>
    </tbody>
  </table>