
<div class="col-4 mt-5">
    <h3>Select cryptocurrency:</h3>
<select class="form-control mt-4" [ngModel]="name" (change)="optionChange($event)">
    <option *ngFor="let item of cryptoList" [value]="item.id" >
        {{item.name}}
    </option>
</select>

<div *ngIf="cryptos" class="mt-4">
    <p><strong>USD:</strong> {{cryptos.USD}}</p>
    <p><strong>JPY:</strong> {{cryptos.JPY}}</p>
    <p><strong>EUR:</strong> {{cryptos.EUR}}</p>
</div>
</div>
<div class="row" style="height: 330px;">

</div>


