<div class="text-center mt-4">
    <h1>Destinations you have liked</h1>
</div>
<table class="table table-striped mt-5 text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Hotel</th>
        <th scope="col">City</th>
        <th scope="col">Stars</th>
        <th scope="col">Transportation</th>
        <th scope="col"><a><i class="fas fa-arrow-right"></i></a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let des of destinations">
        <td>{{des.hotel}}</td>
        <td>{{des.city}}</td>
        <td>{{des.stars}} <i class="fas fa-star"></i></td>
        <td *ngIf="des.transportation=='Plane'"><i class="fas fa-plane"></i></td>
        <td *ngIf="des.transportation=='Bus'"><i class="fas fa-bus"></i></td>
        <td><a routerLink="../destinations/{{des.hotel}}"><i class="fas fa-arrow-right"></i></a></td>
      </tr>
    </tbody>
  </table>